.board {
  background-color: white;
  cursor: crosshair;
  margin: 0 auto;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

#recDiv {
  border: 3px dotted black;
  position: absolute;
}

canvas {
    width: 100vw;
    height: 100vh;
}